*{
  margin: 0px;
  padding: 0px;
}
body,html{
  width: 100%;
  height: 100%;
  font-size: 14px;
}
body{
  background-color: #f0f0f0;
}
label{
  font-weight: normal;
}
a{
  text-decoration: none;
  color: #666;
}
// #modal-root{
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   top: 0;
// }