@import '../theme.scss';

.input-container{
  .input-main{
    width: 300px;
    height: 42px;
    position: relative;
    .com-input{
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      border: solid 1px $border-color;
      transition: all .3s ease-in-out;
      padding-left: 1em;
      color: $input-color;
      &:focus{
        $color:map-get($colors, light-blue);
        outline: none;
        border: solid 1px $color;
        box-shadow: 0 0 9px $color;
      }
      &::-ms-clear { 
        display: none; 
      }
    }
    .close-icon,.close-icon-hide,.search-icon{
      position: absolute;
      height: calc(100% - 2px);
      padding-top: calc(21px - .5em);
      box-sizing: border-box;
      top: 1px;
      width:3em;
      right: 1px;
      text-align: center;
      color: $text-grey;
      
    }
    .close-icon{
      background-color: #fff;
      &:hover{
        cursor: pointer;
        background-color: #f0f0f0;
        transition: all .3s ease-in-out;
      }
    }
    .close-icon{
      animation: appear .3s;
    }
    .close-icon-hide{
      animation: disappear .3s;
      animation-fill-mode: forwards;
    }
    .search-icon{
      position: absolute;
      left: 0em;
    }
    .search-input{
      padding-left: 3em;
      box-sizing: border-box;
    }
  }
  .search-list{
    width: 100%;
    position: absolute;
    top: 100%;
    border: solid 1px $border-color;
    box-shadow: 0 0 6px $border-color;
    box-sizing: border-box;
    margin-top: 8px;
    background-color: #fff;
    .search-item{
      height: 34px;
      line-height: 34px;
      padding-left: 0.5em;
      transition: all ease-in-out 0.3s;
      &:hover{
        background-color: lightblue;
      }
    }
  }
}
