@import '../theme.scss';

.modal{
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: opaticyAnimate .3s;
  .modal-inner{
    background-color: #fff;
    position: relative;
    animation: moveUp .2s;
    border-radius: 4px;
    .close-btn{
      position: absolute;
      color: $text-grey;
      right: 10px;
      top: 10px;
      font-size: 20px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}