.form-test{
  padding: 20px 80px;
  .form-layout{
    margin-bottom: 20px;
    .layout-left{
      width: 45px;
    }
  }
}
.form-title{
  font-size: 20px;
  margin: 0px 0 30px 0px;
}
.button{
  margin: 10px;
}
.red{
  color: red;
}