@import '../theme.scss';

.home-page{
  text-align: center;
  padding-bottom: 30px;
  .main{
    width: $main-width;
    margin: 0 auto;
    border: $general-border;
    margin-top: 20px;
    text-align: left;
    position: relative;
  }
}