.not-found-page{
  text-align: center;
  .not-found-text{
    font-size: 96px;
    color: lightseagreen;
    text-align: center;
    margin-top: 200px;
  }
  .not-found-remind{
    font-size: 16px;
    color: #666;
  }
  .img-contain{
    background: url('/assets/images/treasure-box.gif') center;
    width: 200px;
    height: 300px;
  }
  .treasure-box-hide{
    display: none;
  }
}