*{
  margin: 0px;
  padding: 0px;
}
body,html{
  width: 100%;
  height: 100%;
  font-size: 14px;
}
body{
  background-color: #f0f0f0;
}
h1,h2,h3,h4{
  font-weight: normal;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
label{
  font-weight: normal;
}
a{
  text-decoration: none;
  color: #666;
}
#modal-root{
  position: fixed;
  width: 100%;
  height: 0;
  top: 0;
}

@keyframes opaticyAnimate{
  from{
    opacity:0;
  }
  to{
    opacity: 1;
  }
}

@keyframes moveUp{
  0%{
    opacity:0;
    transform: translateY(120px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes disappearToRight{
  from{
    opacity:1;
  }
  to{
    opacity: 0;
    transform: translateX(100px);
  }
}
@keyframes appear{
  from{
    opacity:0;
  }
  to{
    opacity: 1;
  }
}
@keyframes disappear{
  from{
    opacity:1;
  }
  to{
    opacity: 0;
  }
}